em-emoji-picker {
    --rgb-accent: 230, 119, 0;
    --rgb-background: transparent;
    --rgb-color: white;
    /* --sidebar-width:8; */

    width:100%;
    height: 35vh;
    min-height: unset;
    /* max-height: 800px; */
  }