@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbargutter-stable {
    scrollbar-gutter: stable;
  }

  .shaded_bg {
    background: linear-gradient(#262630 5%, #ffffff21 40%);
  }

  .anchor-none {
    overflow-anchor: none;
  }

  .anchor-auto {
    overflow-anchor: auto;
  }
}

:root {
  --theme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: dark;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
