@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stop-scroll {
    overflow: hidden !important;
  }

  .focus{
    animation: focus 2s forwards;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .disable-animations * {
    animation: none !important;
    transition: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbargutter-stable {
    scrollbar-gutter: stable;
  }

  .shaded_bg {
    background: linear-gradient(#262630 5%, #ffffff21 40%);
  }

  .anchor-none {
    overflow-anchor: none;
  }

  .anchor-auto {
    overflow-anchor: auto;
  }

  em-emoji-picker {
    --rgb-background: transparent;
    --rgb-color: white;
    /* --sidebar-width:8; */
  
    width: 100%;
    height: 35vh;
    min-height: unset;
    /* max-height: 800px; */
  }

  input[type='number']::-webkit-inner-spin-button {
    display: none;
  }
}

:root {
  --theme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: dark;
  }
}

@keyframes focus{
  0% {
    background-color: rgba(255, 255, 255, 0.089);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



